body{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  color: #9575CD !important;
}

.label-headings{
  color: #EC6E4C !important;
}

.home div.dropdown-menu{
    height: auto;
    max-height: 14rem;
    overflow-y: scroll;
    width:100%;
    border: none !important;
    color: #9575CD !important;
}

.home div.dropdown-menu ul a{
  color: #9575cda6 !important;
}

.home div.dropdown-menu.show {
  padding:1rem;
}

.home div.dropdown-menu.show > input{
  /* width: 95% !important; */
  left: 0;
  right: 0;
}

.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
    margin:0 auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #9575CD;
    border-color: #9575CD transparent #9575CD transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  